body {
  background-color: darkgray;
  text-align: center;
}
.prov-transl {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: auto;
  padding: 20px;
  box-sizing: border-box;
  width: 50%;
  margin-top: 2rem;
  background-color: white;
  box-shadow: 20px 20px 30px rgba(0,0,0,0.28);
}
input {
  position: relative;
}
.p-source {
  font-weight: bold;
}
