body {
    background-color: #ffe6f2;
    font-family: georgia;
    color: #737373;
    margin-left: 30px;
    margin-right: 30px;
}
a {
  color: #b30056;
}


h1{
  font-size: 40px;
  font-weight: lighter;
  text-align: center;
  font-family: georgia;
  color: #737373;
}
h2 {
  font-size: 35px;
  font-weight: lighter;
  text-align: center;
}

  h3 {
    font-size: 25px;
    font-weight: lighter;
    text-align: center;

}

div {
  text-align: center;
  font-size: 20px;
}
.thanks {
  font-size: 40px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  background-position: center;
}

  ul{
    text-align: justify;
    padding-top: 60px;
    padding-bottom: 30px;
    
  }
