/* Larger than mobile */
@media (min-width: 300px) {
  .values {

    background-image: url(a681c53c4c45c3383c5af95ab26dedf5.png);
    background-size: cover;
    padding: 50px;
    text-align: center;
  }
  .footer {

    padding-top: 15%;
    color: #696969;
  }
  .cases {
    font-size: 13px;
  }
  .header h2 {
    font-size: 20px;
  }
}

  /* Larger than tablet */
  @media (min-width: 500px) {
   .values {
background-image: url(resize.jpg);
background-size: cover;
padding: 100px;
text-align: center;
   }
  .footer {
    padding-top: 15%;
    padding-left: 20px;
    color: #696969;
  }

  }

    /* Larger than desktop */
    @media (min-width: 1000px) {

.reflection {
  background-image: url(shaking-groot.gif);
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: contain;
}
.technical {
  background-image: url(groot-shaking.gif);
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: contain;
}

.header h2 {
  font-size: 30px;
  padding-top: 2%;
  padding-bottom: 4%;
}

    }


.header {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  font-size: 20px;
  font-family: 'Playfair Display', serif;
  color: #696969;
  border-bottom-style: solid;
  border-color: #008080;
}

.headerc1 {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  font-size: 20px;
  font-family: 'Playfair Display', serif;
  font-weight:normal;
  color: #696969;
}

.technical a {
  font-size: 30px;
  color: #696969;
}

.technical ul {
  list-style-position: inside;
  text-align: center;
}

.reflection a {
  font-size: 30px;
  color: #696969;
}
.reflection ul {
  list-style-position: inside;
  text-align: center;
}

a {
  padding: 10px;
  color: #696969;
  font-family: 'Playfair Display', serif;
  text-decoration: none;
}

.contain a{
  font-family: 'Playfair Display', serif;
  font-size: 40px;
  color: #006666;
  text-align: center;
  font-weight: bolder;
padding: 0;

}
.home  {
  color: #696969;
  padding: 30px;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}
.home a{
  color: #696969;
}
.content {
  font-family: 'Playfair Display', serif;
  padding: 25px;
  border-top-style: solid;
  border-bottom-style: solid;
  color: #696969;
  border-color: #008080;
  margin: 5px;
  text-align: justify;
  position: relative;
}
.footer {
  border-top-style: solid;
  border-color: #008080;
}
.borda {
  border-top-style: solid;
  border-bottom-style: solid;
  border-color: #008080;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 1px;
}

/*t3-design*/
.description {
  padding-top: 10px;
  text-align: center;
}/*end t3*/

/*t5-problem-solving*/
.paragraph{
text-align: center;
}/*end t5*/


/*t6 JS*/
  .cases1 ul {
  list-style: none;
  text-align: center;
  }
  .cases1 {
    font-size: 30px;
  }
  .cases ul {
    list-style: none;
    text-align: left;
  }
  /*end t6 JS*/
.background {
  background: linear-gradient(to bottom, #339966 -1%, #99ffcc 42%);
}
.icon {
  height: 3em;
  width: 3em;
  margin: 10px;
}
.iconHome {
  height: 45px;
  width: 45px;
  margin: 10px;

}

/*index page*/
footer {
  text-align: center;
}
